$lt-gray: #fdcece;
$background-dark: #e12323;
$background-light: #FFD0DC;
$background-pale: #ffd4d8;
$background-moredark: #e52f2f;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.active {
    background: $background-pale;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: white ;
    color:#e12323;
    min-height: 150px;
}

mat-toolbar{
    background: white ;
    color: #E12323;
    
}
.horizon{
    border-top: 1px solid $background-dark;
}

.carousel {
    background:$background-dark;

   
}
.sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    height: 120px;
    width: 100%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
