$lt-gray: #fdcece;
$background-dark: #e12323;
$background-light: #FFD0DC;
$background-pale: #ffd4d8;
$background-moredark: #e52f2f;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}


.jumbotron {
    @include zero-margin(70px,30px);
    background: white ;
    color:#e12323;
    min-height: 150px;
}

$carousel-item-height: 500px;


.carousel {
    
    
    .carousel-item {
        height: $carousel-item-height;
        
    }
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}