$lt-gray: #fdcece;
$background-dark: #e12323;
$background-light: #FFD0DC;
$background-pale: #ffd4d8;
$background-moredark: #e52f2f;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}


.jumbotron {
    @include zero-margin(70px,30px);
    background: white ;
    color:#e12323;
    min-height: 150px;
}

.button{
    display: flex;
  justify-content: center;
  align-items: center;
    color: $background-dark;
  .btn{
      text-decoration: none;
      
  }
}

.btn:hover{
    background-color: $background-dark;
    color: white;
}