
<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="40">
    <div fxLayout="column">
      <mat-toolbar>
        <a mat-nav-list>Our Story</a>
        <a mat-nav-list>FAQ</a>
        <a mat-nav-list>Product Care</a>
        <a mat-nav-list>Shipping</a>
        <a mat-nav-list>Privacy Policy</a>
        
      </mat-toolbar>
      <mat-toolbar>
        <a mat-nav-list>Press</a>
        <a mat-nav-list>Blog</a>
        <a mat-nav-list>Special Events</a>
        <a mat-nav-list>Careers</a>
        <a mat-nav-list>Contact Us</a>
        <a mat-nav-list>COVID-19</a>
      </mat-toolbar>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" >
    <mat-toolbar>
      <img src="/src/assets/images/logo.jpeg" height="55px" width="110px">&nbsp;&nbsp;
      
      <a mat-nav-list class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>&nbsp;
      <a mat-nav-list class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;
      <a mat-nav-list class="btn-instagram" href="http://instagram.com/"><i class="fa fa-instagram fa-lg"></i></a>&nbsp;&nbsp;
      
      <input type="email" placeholder="Enter your email address" name="email">
      <button mat-stroked-button>Subscribe</button>
    </mat-toolbar>
  </div>
  <div>
      <p>© Copyright 2020 Amour Roses</p>
  </div>
</div>
