@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: auto;
    padding: $pad-up-down $pad-left-right;
}

.foot{
    border-top: 1px solid; 
    width:60%; 
    text-align:center; 
    margin: 0 auto;
}

.footer{
    @include zero-margin(20px, 0px);
    
}


.mat-toolbar a{
    text-decoration: none;
    padding: 10px;
    font-size: small;
    color: black;
}

.mat-stroked-button{
    height:35px;
}

input{
    height: 35px;
    border: 1px solid;
    border-right: none;
    font-size: small;
}
