

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}


.jumbotron {
    @include zero-margin(70px,30px);
    background: white ;
    color:black;
    min-height: 150px;
}

.button{
    display: flex;
  justify-content: center;
  align-items: center;
}


button {  
    transition: 0.50s;
    border: black solid 1px;
    height: 40px;
    width: 150px;
    text-align: center;
    background-color: black;
    color: #dac279;
  &:hover,
    &:focus { 
      border: solid 1px;
      border-color: black;
      color: black;
      background-color: white;
    }
  }
  .btn:hover,
  .btn:focus {
    box-shadow: inset 2.5em 0 0 0 white;
    border-color: black;
  }