

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}


.jumbotron {
    @include zero-margin(70px,30px);
    background: white ;
    color:black;
    min-height: 150px;
}

.button{
    display: flex;
  justify-content: center;
  align-items: center;
    color: black;
  .btn{
      text-decoration: none;
      
  }
}

.btn:hover{
    background-color: white;
    color: black;
}