.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 220px;
  box-shadow: 3px 0px 12px 0 rgba(0,0,0,.08);
}

.hidden{
  display: none;
}

#nav{
  overflow: hidden;
}

#nav a{
  text-decoration: none;
  font-size: medium;
  display: inline-block;
  padding: 10px;
  color: black;
}

#nav a:hover{
  background-color: #ddd;
}

.active{
  background-color: #ddd;
}

.mat-toolbar{
    background: white ;
    color: black; 
    padding-left: 150px;  
}

.mat-button{
  text-decoration: none;
}

.mat-stroked-button{
  text-decoration: none;
}


.sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.6);
    height: 120px;
    width: 100%;
  }

  .jumbotron {
    margin: 0px auto;
    padding: 50px 50px 50px 50px;
    background: white ;
    min-height: 120px;
}


.dropbtn {
  background-color: white;
  color: black;
  border: none;
  text-decoration: none;
  font-size: medium;
  padding: 10px;
  display: inline-block;
}

.dropdown {
  position: relative;
  margin: 5px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 220px;
 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;
  font-size: medium;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
  display: block;
}

.dropdown:hover .dropbtn .fa-angle-down{
  display: none;
}

.dropbtn .fa-angle-up{
  display: none;
}

.dropdown:hover .fa-angle-up{
  display: inline-block;
}
