<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden : !(isHandset | async)!.matches}"
    fixedInViewport="false"
    [attr.role]="isHandset  ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar><img src="/src/assets/images/logo.jpeg" height="55px" width="110px"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/home' routerLinkActive="active">  HOME</a>
      <a mat-list-item routerLink='/shop-now' routerLinkActive="active">  SHOP ALL</a>
      <a mat-list-item routerLink='/trendings' routerLinkActive="active">  TRENDING</a>
      <a mat-list-item routerLink='/variety' routerLinkActive="active">  VARIETY</a>
     
    </mat-nav-list>   
    <div class="dropdown">
      <button class="dropbtn" routerLink='/luxery-collection'> LUXERY COLLECTIONS  <span class="fa fa-angle-down" ></span><span class="fa fa-angle-up"></span></button>
      <div class="dropdown-content" id="navbar">
        <a routerLink='/luxery'>CLASSIC CUBO</a>
        <a routerLink='/luxery'>CRYSTAL GRANDE</a>
        <a routerLink='/luxery'>CLASSIC RONDE</a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar #stickyMenu class="sticky">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <span class="fa fa-list fa-lg"></span>
      </button>
      <span>&nbsp;<img *ngIf="!((isHandset | async)!.matches)" src="/src/assets/images/logo.jpeg" height="55px" width="110px"></span>&nbsp;&nbsp;
      <mat-nav-list *ngIf="!((isHandset | async)!.matches)" id="nav">
      <a mat-list-item routerLink='/variety' routerLinkActive="active">  VARIETY</a>
      <a mat-list-item routerLink='/trendings' routerLinkActive="active">  TRENDING</a>
      <a mat-list-item routerLink='/shop-now' routerLinkActive="active">  SHOP ALL</a>
      <a mat-list-item routerLink='/home' routerLinkActive="active">  HOME</a>
      </mat-nav-list>
      
      <div class="dropdown" *ngIf="!((isHandset | async)!.matches)">
        <button class="dropbtn" routerLink='/luxery-collection'>LUXERY COLLECTIONS <span class="fa fa-angle-down"></span><span class="fa fa-angle-up"></span></button>
        <div class="dropdown-content">
          <a routerLink='/luxery'>CLASSIC CUBO</a>
          <a routerLink='/luxery'>CRYSTAL GRANDE</a>
          <a routerLink='/luxery'>CLASSIC RONDE</a>
        </div>
      </div>


      <span class="flex-spacer"></span>
      <button mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> LOGIN</button>&nbsp;
      <button mat-button (click)="addToCart()"><span class="fa fa-cart-arrow-down fa-lg"></span> CART</button>
    </mat-toolbar>
    <div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">
  </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
