<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden : !(isHandset | async)!.matches}"
    fixedInViewport="false"
    [attr.role]="isHandset  ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar><img src="/src/assets/images/logo2.PNG" height="55px" width="110px"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/home' routerLinkActive="active"><span class="fa fa-home fa-lg"></span>  Home</a>
      <a mat-list-item routerLink='/shop-now' routerLinkActive="active"><span class="fa fa-list fa-lg"></span>  Shop All</a>
      <a mat-list-item routerLink='/aboutus' routerLinkActive="active"><span class="fa fa-info fa-lg"></span>  About</a>
      <a mat-list-item routerLink='/contactus' routerLinkActive="active"><span class="fa fa-home fa-lg"></span>  Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar #stickyMenu class="sticky">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <span class="fa fa-list fa-lg"></span>
      </button>
      <span>&nbsp;<img src="/src/assets/images/logo2.PNG" height="55px" width="110px"></span>&nbsp;&nbsp;
      <mat-nav-list *ngIf="!((isHandset | async)!.matches)" id="nav">
      <a mat-list-item routerLink='/contactus' routerLinkActive="active"><span class="fa fa-home fa-lg"></span>  Contact</a>
      <a mat-list-item routerLink='/aboutus' routerLinkActive="active"><span class="fa fa-info fa-lg"></span>  About</a>
      <a mat-list-item routerLink='/shop-now' routerLinkActive="active"><span class="fa fa-shopping-cart fa-lg"></span>  Shop All</a>
      <a mat-list-item routerLink='/home' routerLinkActive="active"><span class="fa fa-home fa-lg"></span>  Home</a>
      </mat-nav-list>
      <span class="flex-spacer"></span>
      <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"> Login</span></a>
      <a mat-button (click)="addToCart()"><span class="fa fa-cart-arrow-down fa-lg"> Cart</span></a>
    </mat-toolbar>
    <div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">
  </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
