<br>
<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">


  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      
      <div fxFlex="60">
        <img src="{{baseURL + flower.image}}" alt="Company Tale"  height="400px" width="400px">
      </div>
      <div fxFlex="40">
        <h3>{{flower.name | uppercase}}</h3>
        <h4>{{flower.price}}</h4>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Select city</mat-label>
          <mat-select>
            <mat-option value="1">Delhi</mat-option>
            <mat-option value="2">Pune</mat-option>
            <mat-option value="3">Mumbai</mat-option>
          </mat-select>
        </mat-form-field>
        <h4>Quantity</h4>
        <mat-slider formControlName="rating" class="example-margin"
              [disabled]="disabled"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumbLabel]="thumbLabel"
              [tickInterval]="getSliderTickInterval()"
              [(ngModel)]="value"
              [vertical]="vertical" >
              </mat-slider>
        <button class="addCart">ADD TO CART</button>
        <br>
        <p>{{flower.description}}</p><br>
        <p>{{flower.specifications}}</p>
      </div>
    </div>
  </div>
  
  </div>
  <br>