<br>
<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">


  <div fxFlex="40"  [@visibility]="visibility" [@expand]>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{flower.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{baseURL + flower.image}}" alt={{flower.name}}>
        <mat-card-content>
          <p>{{flower.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink] = "['/flowerdetail',prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>ADD TO CART</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink] = "['/flowerdetail',prev]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
  </div>
 
</div>
<br>