<div>
  <h1>SHOP COLLECTIONS</h1>

</div>
<br>
<div class="container" fxLayout="row" fxLayout.lt-md ="column" fxLayoutAlign.gt-sm="space-around center" fxLayoutGap="10px" 
class="web_homePage" (scroll)="onWindowScroll($event);">
<div class="img-container">
       <div class="img-icon">
      <img src="/assets/images/ROSES – CLASSIC CUBO.png" alt="Company Tale" height="450px" width="450px" [routerLink]="['/luxery']"> 
      <div class="text-img">
        <h3>CLASSIC CUBO</h3>
      </div>
      <div class="btn-img">
        <button class="shop-btn">View Products</button>
      </div>
        </div>
</div>  
    
    <div class="img-container">
      <div class="img-icon">
      <img src="/assets/images/CARNATIONS - CRYSTAL GRANDE.png" alt="Company Tale" height="450px" width="450px" [routerLink]="['/luxery']" >
      <div class="text-img"><h3>CRYSTAL GRANDE</h3></div>
      <div class="btn-img">
        <button class="shop-btn">View Products</button>
      </div>
    </div>
      
    </div>
    <div class="img-container">
      <div class="img-icon">
      <img src="/assets/images/LILIES – CLASSIC RONDE.png" alt="Company Tale" height="450px" width="450px" [routerLink]="['/luxery']" >
      <div class="text-img"><h3>CLASSIC RONDE</h3></div>
      <div class="btn-img">
        <button class="shop-btn">View Products</button>
      </div>
    </div>
      
    </div>
  </div>
  <br><br>
  <div  class="container" fxLayout="row" fxLayout.lt-md ="column" fxLayoutAlign.gt-sm="space-around center" fxLayoutGap="10px" 
  class="web_homePage" (scroll)="onWindowScroll($event);">
   
     <div class="img-container">
      <div class="img-icon">
      <img src="/assets/images/ROSES – PETITE HEART.png" alt="Company Tale" height="450px" width="450px" [routerLink]="['/luxery']" >
      <div class="text-img"> <h3>PETITE HEART</h3></div>
      <div class="btn-img">
        <button class="shop-btn">View Products</button>
      </div>
    </div>
     
    </div>
    <div class="img-container">
      <div class="img-icon">
      <img src="/assets/images/SUÈDE CUBO - LILIES.png" alt="Company Tale" height="450px" width="450px" [routerLink]="['/luxery']" >
      <div class="text-img"><h3>SUÈDE CUBO</h3></div>
      <div class="btn-img">
        <button class="shop-btn">View Products</button>
      </div>
    </div>
      
    </div>
   
</div>
<br>

