.close.mat-button {
    position: inherit;
    top: 0;
    right: 0;
    padding: 2px;
    line-height: 3px;
    min-width: auto;
    float: right;
  }

  table{
      width: 100%;
  }
  td {
    padding: 15px;
  }

select{
    width: 100%;
}

.add{
    background-color:#c7bbbb;
    margin-left: 18px;
}