.close.mat-button {
    position: inherit;
    top: 0;
    right: 0;
    padding: 2px;
    line-height: 3px;
    min-width: auto;
    float: right;
  }

.pay{
    background-color: black;
    color: #dac279;
}

.address{
    width: 90%;
}

.full-width{
    width: 90%;
}