.close.mat-button {
    position: inherit;
    top: 0;
    right: 0;
    padding: 2px;
    line-height: 3px;
    min-width: auto;
    float: right;
  }
  table{
    width: 100%;
}
td,th {
  padding: 15px;
  text-align: center;
}
.add{
    background-color:#c7bbbb;
}
.btn{
    padding-right: 5px;
    float: right;
}
