<app-header></app-header>
<hr>
<h1>Our Picks</h1>
<h4>Section of our beloved products</h4>
<br>
<div class="container"
fxLayout="row"
fxLayout.lt-md = "column"
fxLayoutAlign.gt-sm="space-around center"
fxLayoutGap="10px" class="web_homePage" (scroll)="onWindowScroll($event);">

    
     <div fxFlex="50" class="img-container">
      <img src="/assets/images/pick1.png" alt="Company Tale">
    </div>
    <div fxFlex="50" class="img-container">
      <img src="/assets/images/pick2.png" alt="Company Tale" >
    </div>


</div>
